@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #090909;
  }

  body {
    @apply bg-primary text-textMain font-sans;
    font-family: "Raleway", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-indigo-500 rounded-full;
  }
}

@layer utilities {
  .section-padding {
    @apply pt-20 pb-28 px-6 md:px-16 lg:px-28;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-2;
  }

  .section-subtitle-line {
    @apply w-16 h-1 bg-accent rounded mb-10;
  }
}
